*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.container {
  margin: 20px auto;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
