*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 2rem;
}

.app {
  width: 50rem;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.details {
  /* width: 10rem; */
}

.action button {
  padding: 0.5rem 1rem;
}
