*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.container {
  max-width: 30rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  font-size: 2rem;
  font-weight: 700;
}

.count button {
  height: 3rem;
  width: 3rem;
}
